server {
  listen 80 default_server;
  server_name  {{ server_name }};

  location / {
    proxy_pass http://127.0.0.1:8000;
    proxy_set_header Host      $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass_request_headers on;
  }
}